USE [Lab2]
GO
/****** Object:  Table [dbo].[index$]    Script Date: 09/03/2024 10:54:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[index$](
	[palabra] [nvarchar](255) NULL,
	[curso] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[index$] ([palabra], [curso]) VALUES (N'vigilancia', N'Curso_0001')
INSERT [dbo].[index$] ([palabra], [curso]) VALUES (N'pbx', N'Curso_0002')
INSERT [dbo].[index$] ([palabra], [curso]) VALUES (N'sujeta', N'Curso_0003')
GO
